@media screen and (max-width:419px){
  .row{
    width: 100%;
    height: 100%;
  }
  #lezioni .row .left{
    width: 100%;
    height: 100%;
    float: none;
    margin-right: 0;
  }
  #lezioni .row .right{
    width: 100%;
    height: 100%;
    float: none;
    margin-right: 0;
  }
  #steps .row .left{
    width:100%;
    height: 100%;
    float: none;
    margin-right: 0;
  }
  #steps .row .central{
    width: 100%;
    height: 100%;
    float: none;
    margin-right: 0;
  }
  #steps .row .right{
    width: 100%;
    height: 100%;
    float: none;
    margin-right: 0;
  }
}
